<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<title>Erudito Dev - <%-tituloweb %> </title>

<body>

  <form action="post">
    <input type="Nombre">
    <input type="Telefono">
    <input type="Mensaje">
    <button>Enviar</button>
  </form>


</body>
</html>