<%- include("plantillas/cabecera", {tituloweb: "Pagina de Inicio"})%> 


  <h1 class="text-primary">Mi Titulo de Erudito</h1>
  <h1><%=titulo%></h1>
 


<%- include("plantillas/menu")%> 


<%- include("plantillas/footer")%>  





